<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">PSU PR</a>
    </div>
  </div>
</nav>

<center>
<h1>New Match</h1>
<%= render 'form' %>
<%= link_to 'Back', players_path, class: 'btn btn-default' %>
</center>